

<div class="flex justify-center">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto overflow-scroll p-1 h-20 w-20 rounded-full bg-white " fill="" cx="300" cy="300" viewBox="0 0 16 16">
      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
    </svg>
    <div class="flex justify-center">
      <div [hidden]="isConnectedUser && editMod" class="justify-center self-center">
        <h1 class=" text-3xl font-extrabold rainbow_text_animated">{{firstname}} {{lastname}}</h1>
      </div>
      <form [hidden]="!isConnectedUser || !editMod">
        <label for="firstname">Firstname</label>
        <input type="text" id="firstname" #firstnameInput class="block w-full py-1 px-2 ps-10 text-sm text-gray-900 border bg-gray-200  rounded focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-300 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value={{firstname}} placeholder={{firstname}}>
        <label for="lastname">Lastname</label>
        <input type="text" id="lastname" #lastnameInput class="block w-full py-1 px-2 ps-10 text-sm text-gray-900 border bg-gray-200  rounded focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-300 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value={{lastname}} placeholder={{lastname}}>
        <label for="age">Age</label>
        <input type="number" id="age" #ageInput class="block w-full py-1 px-2 ps-10 text-sm text-gray-900 border bg-gray-200  rounded focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-300 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value={{age}} placeholder={{age}}>
        <label for="password">Password</label>
        <input id="password" type="password" #passwordInput class="block w-full py-1 px-2 ps-10 text-sm text-gray-900 border bg-gray-200  rounded focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-300 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="********">
        <div class="flex justify-center">
          <button (click)="setEditMod(false);" class="m-1 shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-2 rounded" type="button">
            Cancel
          </button>
          <button (click)="setEditMod(false);updateUser(firstnameInput.value, lastnameInput.value, ageInput.value, passwordInput.value)" class="m-1 shadow bg-green-500 hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-2 rounded" type="button">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
  <div (click)="setEditMod(true)"  [hidden]="!isConnectedUser">
    <button class="m-1 shadow bg-green-500 hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-2 rounded" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
      </svg>
    </button>
  </div>
</div>




<div class="max-w-5xl rounded shadow-lg mx-auto">
  <h2>Associations</h2>
  <table class="text-center min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
    <thead>
      <tr>
        <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
          <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
            id
          </p>
        </th>
        <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
          <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
            Name
          </p>
        </th>
        <th class="p-4 border-b border-blue-gray-100 bg-blue-gray-50">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let association of dataSource">
        <td class="p-4 border-b border-blue-gray-50">
          <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
            {{association.id}}
          </p>
        </td>
        <td class="p-4 border-b border-blue-gray-50">
          <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
            {{association.name}}
          </p>
        </td>
        <td class=" border-b border-blue-gray-50">
          <a href="/association/{{association.id}}" class="m-1 shadow bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold pl-2 pr-1 pt-2 pb-1 rounded">
            •••
          </a>
        </td>

      </tr>
    </tbody>
  </table>
</div>
